.total {
  background: #fb5092;
  display: flex;
  align-items: center;
  justify-content: center;
}

.earth {
  font-size: 1000%;
  margin-right: 2%;
}

.world_sp {
  font-weight: bold;
  font-size: 150%;
}

.total_p {
  font-weight: 500;
}

.stats_by {
  background: #df4783;
  margin-bottom: 0%;
  font-weight: bold;
}

.country_li {
  float: left;
  width: 50%;
  padding: 0.9%;
  height: 32vh;
}

.location_icon {
  font-size: 300%;
}

.one {
  background: #be2e68;
}

.two {
  background-color: #cf4278;
}

.country_ul {
  list-style-type: none;
  padding-left: 0%;
}

.country_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 2%;
}

.today {
  text-align: right;
}

.right_arrow {
  font-size: 120%;
  margin-bottom: 500%;
  margin-top: -300%;
}

.name {
  font-weight: bold;
  font-size: 130%;
}

.search_bar {
  width: 100%;
  outline: none;
}
